.signup_main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_container {
  text-align: center;
}

.signup_container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #2d333a;
}

.signup_container > * {
  margin-bottom: 20px;
}

.username {
  display: flex;
  justify-content: center;
  width: 100%;
}

.first_name {
  width: 38%;
  margin-right: 20px;
}

.last_name {
  width: 38%;
}

.signup_container p {
  font-size: 18px;
  color: #2d333a;
  font-weight: 100;
}

.signup_container p span {
  color: #10a37f;
}

.signup_container p span:hover {
  cursor: pointer;
}

.google_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.google_btn button {
    width: 100%;
    padding: 10px 80px 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid #d5d6d8 !important;
}

.google_btn button span {
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
}

.google_btn button:hover {
    background-color: #e0e2e4;
}

/* .username > * {
    margin-right: 20px;
} */
